{% extends  'main/index.html' %}

{% block headlinks %}
<style>
    .card{
        width: 400px;
        padding: 30px;
        margin: 0 auto;
        border: 1px solid black;
        border-radius: 20px;
    }
    .card-title{
        text-align: center;
        display: block;
        margin: 0 auto 30px auto;
    }
    .card-form input{
        display: block;
    }
    .card-form input[type='email']{
        padding: 6px 10px;
        border-radius: 10px;
        border: 1px solid black;

    }
    .card-form input[type='email']:focus{
        outline: none;
        border-color: #e82525;
    }
    .card-form input[type='submit']{
        display: block;
        margin: 20px auto;
    }
</style>
{% endblock %}

{% block content %}

<div class="card">
<h3 class="card-title">Сброс пароля</h3>

<form method="post" class="card-form">
{% csrf_token %}
{{ form }}
    <input type="submit" value="Отправить" class="btn btn-primary">
</form>
</div>

{% endblock %}